@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif;
    padding: 25px 20px;
    width: 300px;
    max-height: 450px;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.header.is-home {
    justify-content: center;
}

.header.is-home .header__logo {
    text-align: center;
}

.header__back {
    font-size: 24px;
    color: black;
}

.header__back-wrapper {
    transition: color 1s;
    will-change: auto;
}

.header__back-wrapper:hover {
    color: #1561c3;
}


.header.is-home  .header__nav {
    display: none;
}

.header__logo {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.header__title {
    font-size: 32px;
    text-transform: uppercase;
}

.header__subtitle {
    font-size: 14px;
    color: #808080;
}

.header__title, .header__subtitle {
    cursor: default;
    transition: color 1s;
}

.header__title:hover, .header__subtitle:hover {
    color: #1561c3;
}

.tabs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

img {
    height: 20px;
    width: 20px;
}

.button {
    background-color: #DCDCDC;
    display: inline-block;
    padding: 5px 0;
    width: 100%;
    border-radius: 10px;

    color: black;
    font-size: 19px;
    text-align: center;
    border: 2px solid transparent;

    transition: border-color .5s ease;
}

.button:hover {
    border-color: #1561c3;
}

.page {
    display: none;
}

.page.rendered {
    display: block;
}

.passwords__sort {
    display: flex;
    justify-content: flex-end;
}

.passwords__sorting {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.passwords__sorting.reverse {
    flex-direction: column-reverse;
}

.passwords__sorting .rect {
    display: block;
    height: 4px;
    width: 12px;
    background-color: #000;
}

.passwords__sorting .rect:nth-child(2) {
    width: 24px;
}

.passwords__sorting .rect:nth-child(3) {
    width: 36px;
}

.passwords__list, .config__list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    overflow-y: scroll;
    max-height: 500px;
}

.config__list {
    overflow-y: auto;
}

.config__item {
    position: relative;
}

.chain {
    position: absolute;
    top: 9px;
    right: 14px;
}

.config-password__submit-wrapper {
    display: flex;
    justify-content: center;
}

.config-password__item {
    margin-top: 10px;
}

.config-password__item:first-of-type {
    margin-top: 0px;
}

.config-password__label {
    font-weight: 400;
    font-size: 19px;
}

.config-password__input {
    border: none;
}

.config-password__submit {
    padding: 11px 23px 11px 23px;
    border-radius: 10px;
    border: none;
    background-color: #DCDCDC;
    margin-top: 20px;
    font-weight: 400;
    font-size: 19px;
}

.biometrics__list {
    display: flex;
    justify-content: space-between;
}

.biometrics__item:first-of-type {
    margin-right: 25px;
}

.biometrics__title {
    font-size: 24px;
    text-align: center;
}

.biometrics__name {
    font-size: 20px;
}

.biometrics__list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.biometrics__preview {
    height: 115px;
    width: 115px;
    background-color: #C4C4C4;
    filter: blur(2px);
    border-radius: 10px;
}

.biometrics__name {
    margin-top: 10px;
    text-align: center;
    color: #000;
}

.biometrics-face__preview {
    background-color: #BBBBBB;
    width: 100%;
    height: 450px;
    filter: blur(2px);
    border-radius: 10px;
}

.biometrics-face__touch {
    margin: 10px auto 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: block;
    background-color: #000;
}

.biometrics-finger__title {
    font-size: 24px;
    text-align: center;
}

.biometrics-finger__preview {
    background-color: #C4C4C4;
    border: 1px solid #000;
    filter: blur(2px);
    border-radius: 10px;
    height: 250px;
    width: 250px;

    margin: 30px auto;
}

.generate__length {
    margin-top: 20px;
}

.generate__length-title {
    font-size: 15px;
    font-weight: 400;
}

.generate__slider-wrapper {
    display: flex;
    flex-direction: row;
}

.generate__slider-text {
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    border-bottom: solid black 1px;
    text-align: center;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 400;
}

.props {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 13px;
}

.props__item {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.props__checkbox {
    width: 19px;
    height: 19px;
    margin-right: 5px;
}

.props__checkbox--circle {
}

.props__text {
    font-size: 16px;
    font-weight: 400;
    align-self: center;
}

.generate__functions {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.generate__button {
    width: calc(50% - 10px);
    font-size: 15px;
}